name: dev_Environment

on:
  push:
    branches:
      - main
    paths:
      - 'dev/**'

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1  # or your region

jobs:
  DEV_Terraform_plan:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ vars.awsOIDCroleARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Switching Environment
        run: cd dev

      - name: Terraform Init
        run: terraform init
        
      - name: Terraform Plan
        run: terraform plan

# 
  DEV_Terraform_apply:
    runs-on: self-hosted
    needs: DEV_Terraform_plan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ vars.awsOIDCroleARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Switching Environment
        run: cd dev

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve